xmlSchemaExample-2305/livros.xml

<?xml version="1.1" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Livros">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="livro">
                    <!-- 112 -->
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="titulo" type="xs:string" />
                            <xs:element name="preco" type="xs:float" />
                            <xs:element name="autor">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="nome" type="xs:string" />
                                        <xs:element name="mail" type="xs:string" />
                                        <xs:element name="mail" type="xs:string" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="autor">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="nome" type="xs:string" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="editora" type="xs:string" />
                        </xs:sequence>
                        <xs:attribute name="ISBN" type="xs:string" />
                    </xs:complexType>
                </xs:element>
                <!-- 72-->
                <xs:element name="livro">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="titulo" type="xs:string" />
                            <xs:element name="preco" type="xs:float" />
                            <xs:element name="autor">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="nome" type="xs:string" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="editora" type="xs:string" />


                        </xs:sequence>
                        <xs:attribute name="ISBN" type="xs:string" />
                    </xs:complexType>
                </xs:element>

                <!-- 239-->
                <xs:element name="livro">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="titulo" type="xs:string" />
                            <xs:element name="preco" type="xs:float" />
                            <xs:element name="autor">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="nome" type="xs:string" />
                                        <xs:element name="mail" type="xs:string" />
                                        <xs:element name="mail" type="xs:string" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="editora" type="xs:string" />


                        </xs:sequence>
                        <xs:attribute name="ISBN" type="xs:string" />
                    </xs:complexType>
                </xs:element>

                <!-- 243-->
                <xs:element name="livro">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="titulo" type="xs:string" />
                            <xs:element name="preco" type="xs:float" />
                            <xs:element name="evento">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="local">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="cidade" type="xs:string" />
                                                    <xs:element name="estado" type="xs:string" />
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="dataInicio" type="xs:date" />
                                        <xs:element name="dataTermino" type="xs:date" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="editora" type="xs:string" />
                        </xs:sequence>
                        <xs:attribute name="ISBN" type="xs:string" />
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>

    </xs:element>
</xs:schema>
